.header {
    padding:20px 10px 20px 10px;
    border-bottom: 1px solid rgb(221, 218, 218);
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    font-size: 1.2em;
    font-weight: 600;
    font-family: sans-serif;
}


.mainContainer {
    max-width: 1440px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.productTableContainer {
  flex: 2;
  flex-grow: 3;
}

.productTable {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader th {
  text-align: left;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.productRows td {
  padding: 1rem 0;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
}

.quantityControls {
  display: flex;
  align-items: center;
}

.btnLess, .btnMore {
  padding: 0.25rem 0.5rem;
  margin: 0 0.3rem;
  cursor: pointer;
}

.inputQuantity {
  width: 50px;
  text-align: center;
}

.cartSummary {
  flex: 1;
  flex-grow: 1;
  background-color: #f9f9f9;
  padding: 1rem;
  min-width: 240px;
}

.cartTitle {
  margin-top: 0;
}

.cartItems {
  margin: 1rem 0;
}

.cartItemRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.cartDivider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
}

.cartTotalRow {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
